@import url("https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap");
:root {
  --color-white:#ffffff;
  --accent-color:#fc0014;
  --accent-color: #dd0012;
  --accent-color-dark:#dd0012;
  --bg-color:#fbfbfb;
  --text-color: #564f4f;
  --border-radius:5px;
  --border-radius-images:8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Forum", cursive;
  line-height: 1.3;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 0 0 50px 0;
}

.title {
  text-align: center;
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
  color: rgb(51, 51, 51);
  padding: 50px 0 50px;
}

.lock {
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0 15px;
  }
  .section {
    padding: 0 0 40px 0;
  }
  .title {
    font-size: 50px;
    padding: 40px 0 40px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding: 0 0 30px 0;
  }
  .title {
    font-size: 45px;
    padding: 30px 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
  .section {
    padding: 0 0 25px 0;
  }
  .title {
    font-size: 35px;
    padding: 25px 0 25px;
  }
}
.header {
  background: url(./assets/img/1660454140_22-KARTINKIN-NET-P-OBOI-S-KURAMI-KRASIVO-24.WEBP);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.header__box {
  max-width: 780px;
  text-align: center;
}
.header__title {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 1px 1px #000;
}
.header__btn {
  display: inline-block;
  padding: 10px 35px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--color-white);
  border-radius: var(--border-radius);
  text-decoration: none;
  font-size: 24px;
  transition: all 0.3s;
}
.header__btn:hover {
  background-color: var(--accent-color-dark);
}

@media (max-width: 992px) and (orientation: landscape) {
  .header {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    min-height: 70vw;
    max-width: 100vw;
  }
  .header__inner {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    min-height: 70vw;
    max-width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 45px;
  }
}
@media screen and (max-width: 490px) {
  .header__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 360px) {
  .header__title {
    font-size: 30px;
  }
}
.schedule__container {
  max-width: 1200px;
}
.schedule__box {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}
.schedule__list {
  width: 49%;
  list-style: none;
}
.schedule__item {
  margin-bottom: 10px;
  font-size: 21px;
  padding-left: 5px;
}
.schedule__item-span {
  font-size: 22px;
  font-weight: bold;
}
.schedule__box-right {
  width: 49%;
}
.schedule__box-image {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .schedule__list {
    width: 59%;
  }
  .schedule__box-right {
    width: 39%;
  }
}
@media screen and (max-width: 490px) {
  .schedule__box {
    flex-wrap: wrap;
  }
  .schedule__list {
    width: 100%;
  }
  .schedule__box-right {
    width: 100%;
  }
}
.product__box {
  margin-bottom: 25px;
}
.product__subtitle {
  font-size: 30px;
  margin-bottom: 15px;
}
.product__cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2%;
}
.product__card {
  flex: 0 0 32%;
  margin-bottom: 15px;
}
.product__image {
  display: block;
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}
.product__image-first {
  object-position: top;
}
.product__card-title {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}
.product__btn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 19px;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  color: var(--color-white);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}
.product__btn:hover {
  background-color: var(--accent-color-dark);
}

@media screen and (max-width: 992px) {
  .product__card {
    flex: 0 0 49%;
  }
}
@media screen and (max-width: 768px) {
  .product__card {
    flex: 0 0 49%;
  }
}
@media screen and (max-width: 650px) {
  .product__image {
    height: 280px;
  }
}
@media screen and (max-width: 540px) {
  .product__image {
    height: 250px;
  }
}
@media screen and (max-width: 490px) {
  .product__card {
    flex: 0 0 100%;
  }
  .product__image {
    height: 320px;
  }
}
@media screen and (max-width: 360px) {
  .product__image {
    height: 300px;
  }
}
.modals-fade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: auto;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.lock {
  overflow: hidden;
}

.modal__window {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  max-width: 800px;
  margin: 30px auto;
  padding: 25px;
  z-index: 50;
  cursor: auto;
}
.modal__window-inner {
  position: relative;
}
.modal__window-close {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 40px;
  cursor: pointer;
  transition: transform 0.3s;
}
.modal__window-close:hover {
  transform: rotate(45deg);
}
.modal__title {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 20px;
}
.modal__text {
  font-size: 21px;
  margin-bottom: 10px;
  text-align: justify;
}
.modal__btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 21px;
  text-decoration: none;
  width: 150px;
  text-align: center;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  color: var(--color-white);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}
.modal__btn:hover {
  background-color: var(--accent-color-dark);
}
.modal__image-modal {
  height: unset;
}

@media screen and (max-width: 845px) {
  .modal__window {
    margin: 30px 15px;
  }
}
@media screen and (max-width: 768px) {
  .modal__window {
    margin: 20px 15px;
  }
}
@media screen and (max-width: 490px) {
  .modal__window {
    padding: 15px;
    margin: 10px 10px 100px 10px;
  }
  .modal__title {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .modal__btn {
    display: block;
    width: unset;
    margin: 15px 0;
  }
  .modal__window-close {
    width: 38px;
    right: -7px;
    top: 0;
  }
}
@media screen and (max-width: 360px) {
  .modal__window {
    padding: 15px;
  }
  .modal__title {
    font-size: 26px;
    margin-bottom: 15px;
  }
}
.delivery__inner {
  max-width: 1100px;
  margin: 0 auto;
}
.delivery__box {
  display: flex;
  justify-content: space-between;
  gap: 5% 2%;
}
.delivery__box-left {
  flex: 0 0 49%;
}
.delivery__left-text {
  font-size: 24px;
  margin-bottom: 20px;
}
.delivery__link-phone {
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--color-white);
  border-radius: var(--border-radius);
  font-size: 21px;
  text-decoration: none;
  transition: all 0.3s;
}
.delivery__link-phone:hover {
  background-color: var(--accent-color-dark);
}
.delivery__box-right {
  flex: 0 0 50%;
}
@media screen and (max-width: 768px) {
  .delivery__left-text {
    font-size: 21px;
  }
}
@media screen and (max-width: 490px) {
  .delivery__title {
    padding-top: 0;
  }
  .delivery__box {
    flex-wrap: wrap;
  }
  .delivery__box-left {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .delivery__left-text {
    text-align: justify;
  }
  .delivery__link-phone {
    margin: 0 auto;
  }
  .delivery__box-right {
    flex: 0 0 100%;
  }
}
.footer {
  background-color: var(--accent-color);
}
.footer__inner {
  margin: 0 auto;
  max-width: 1100px;
}
.footer__title {
  color: #fff;
}
.footer__box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer__box-left-text {
  font-size: 30px;
  margin-bottom: 15px;
  color: #fff;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.footer__svg-a1 {
  width: 60px;
}
.footer__image-mts {
  width: 60px;
  display: block;
  height: auto;
}
.footer__link-phone {
  display: block;
  text-decoration: none;
  font-size: 42px;
  color: #fff;
  letter-spacing: 3px;
}
.footer__box-right {
  width: 30%;
}
.footer__svg-phone {
  fill: #fff;
}

@media screen and (max-width: 768px) {
  .footer__box-left-text {
    margin-bottom: 10px;
  }
  .footer__wrapper {
    margin-bottom: 10px;
  }
  .footer__svg-a1 {
    width: 40px;
  }
  .footer__link-phone {
    font-size: 30px;
    letter-spacing: 1px;
  }
  .footer__image-mts {
    width: 40px;
  }
}
@media screen and (max-width: 490px) {
  .footer__box {
    flex-wrap: wrap;
    gap: 0;
  }
  .footer__box-left {
    flex: 0 0 100%;
    text-align: center;
  }
  .footer__box-left-text {
    font-size: 26px;
  }
  .footer__wrapper {
    justify-content: center;
  }
  .footer__box-right {
    flex: 0 0 100%;
    text-align: center;
  }
  .footer__svg-phone {
    width: 65%;
  }
}

/*# sourceMappingURL=style.css.map */
